.vscode/**
.vscode-test/**
src/**
out/test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
*.vsix
ICON_PLACEHOLDER.md
